{{>header}}
    <link rel="stylesheet" href="./css/404.css">
  </head>
  <body>
      <div>
  <aside><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/Mirror.png" alt="404 Image" />
  </aside>
  <main>
    <h1>Sorry! {{erorrname}}</h1>
    <p>
      Either you aren't cool enough to visit this page or it doesn't exist <em>. . . like your social life.</em>
    </p>
    <form action="/" class="inline">
     <button onclick="gohome()">You can go Home!</button>
</form>
  
  </main>
</div>

  </body>
</html>