{{>header}}
</head>
<body>
{{>navbar}}
{{!-- //Edit aria --}}
 <form id="searchform">
     <input type="text" id="city" placeholder="location">
     <button >search</button>
 </form>
<script type="text/javascript" src="js/app.js"></script>
{{>footer}}